.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: rgb(37, 37, 37);
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 350px;
  width: 90%;
  position: relative;
  height: 400px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.input {
  padding: 0.4rem;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

.submitRow {
  margin-top: auto;
  display: flex;
}

.submitBtn {
  width: 100%;
  height: 35px;
  cursor: pointer;
  background-color: red;
  border: red;
  border-radius: 4px;
  font-size: 15px;
}
